/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode
backend/vendor/autoload.php
backend/vendor/composer/autoload_classmap.php
backend/vendor/composer/autoload_files.php
backend/vendor/composer/autoload_namespaces.php
backend/vendor/composer/autoload_psr4.php
backend/vendor/composer/autoload_real.php
backend/vendor/composer/autoload_static.php
backend/vendor/composer/ClassLoader.php
